* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body {
    background:#96A755;
  }
  .master{
    background-color: #f1b641;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    border: 10px solid black;
    border-radius: 30px;
    margin-top: 2rem;
  }

  .nav-bar{
    width: 100%;
    margin: 0 auto;
    padding-top: 1rem;
  }

  .div-nav-bar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: wheat;
    margin:0 auto;
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    font-family: 'Courgette', cursive;
    font-weight: 800;
  }

  .div-nav-bar img{
    width: 10%;
  }
  .div-nav-bar h1{
    font-style: italic;
    font-weight: 400;
    font-size: 2rem;
  }
  .img-product{
    width: 100%;
    margin: 0 auto;
    padding-top: 0.5rem;
  }

  .div-product img{
    width: 100%;
    margin: 0 auto;
  }

  .text-sec{
    width: 95%;
    padding: 20px;
    margin: 0 auto;
  }

  .product-sale{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product-sale h2{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
  }

  .product-sale h3{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
  }

  .product-sale-second{
    padding-top:1.5rem;
  }

  .product-sale-second h2{
    text-transform: uppercase;
    padding-top: 1rem;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
  }

  .product_volume{
    width: 100%;
    padding-top: 2rem;
  }

  .form-weigth{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }
  label{
    font-size: 1rem;
    font-weight: 600;
  }

  .btn-counter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 1.5rem;
    padding: 5px;
    align-items: center;
}

.btn-counter button{
    padding: 5px;
    background-color: transparent;
    font-size: 2rem;
    border:none;
    cursor:pointer;
}

.btn-counter p{
    font-size: 1.5rem;
    font-weight: 800;
}

.btn-add{
    margin-top: 1.5rem;
    width: 100%;
    background: black;
    color:silver;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 1rem;
}













